* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

/* by default the main axis is horizontal. */
/* justify content pushes the items to the  default START(left) END(right), and CENTER
it also has space-end which adds space to the ends and between items and space-between which adds space BETWEEN only*/
/* a height is needed to align the items */

/* align-items aligns the all items based on the cross-axis. The START, CENTER and END of cross axis */
/* If the cross-axis is vertical(meaning main axis is vertical, align-items moves items to the START(top), END(bottom) and  center when the main-axis is horizontal*/
/* you can also align the items using align-self property and pseudoselector */
.flex-container {
    height: 500px;
    display: flex;
    background-color: yellow;
    justify-content: end;
    align-items: start;
    flex-direction: column;

}

/* centering item content using flex.  */
.item {
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 10px;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}
/*  
.item:nth-child(3) {
    align-self: end;
}

.item:nth-child(2) {
    align-self: start;
}
*/